/* Line chart styling */
.default-color0.chart-series-line { -fx-stroke:  #F08080; }
.default-color1.chart-series-line { -fx-stroke:  #6495ED; }
.default-color2.chart-series-line { -fx-stroke:  #80f080; }

.default-color0.chart-line-symbol { -fx-background-color: black, #F08080; }

.default-color1.chart-line-symbol { -fx-background-color: black, #6495ED; }

.default-color2.chart-line-symbol { -fx-background-color: black, #80f080; }

.chart-legend { -fx-background-color: transparent; }



