#anchorPane
{
	-fx-background-color: linear-gradient(#000033, #666699); 
	-fx-font-size: 14;
}

#anchorPaneHeadings 
{
	-fx-color: #666699;
   	-fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box, rgb(0, 0, 0, 0.4), 4, 0.0, 0, 0); 
    
    /* To mimic the lighter outline of the opposite tab */
    -fx-border-width: 1 1 1 1;    
    -fx-border-color: 
		derive(-fx-color, 10%)
		derive(-fx-color, 10%)
        derive(-fx-color, -25%)
 		derive(-fx-color, 10%);    
}

.label { -fx-text-fill: white; }

.scroll-pane 
{
    -fx-background-color: derive(#666699, 80%), derive(#000033, 80%), -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.text-area
{
    -fx-background-color: derive(#666699, 80%), derive(#000033, 80%), -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.combo-box {
	-fx-background-color: #666699;
	
	-fx-cursor:hand;
}

.combo-box .cell:selected {
    -fx-text-fill: white;
}

.combo-box .context-menu {
    -fx-background-color: #666699;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected, 
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: #666699;
    -fx-background-color:  #666699;
    -fx-border-width: 1 1 1 1;
    -fx-border-insets: 1, 1, 1;
    -fx-border-color: derive(#666699, 80%);
	-fx-text-fill: white;
	
	-fx-cursor:hand;
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: #666699;
    -fx-text-fill: white;
    
    -fx-cursor:hand;
}